<div class="card">
    <h2>Channels list</h2>

    @if(channelErrorSignal()){
        <p class="error">Error while loading channels<br>Retrying ...</p>
    }
    @if(channelLoadingSignal()){
        <p>Channels loading</p>
    }@else{
        @if(channelSignal().length==0){
            <p>No channel found</p>
        }@else {
            @for (channel of channelSignal(); track channel.id) {
                <button class="button" (click)="selectChannel(channel)">
                    {{channel.name}}
                </button>
            }
        }
    }
</div>
