<div class="card">
    <h2>Consumers list</h2>
    
    @if(consumerErrorSignal()){
        <p class="error">Error while loading consumers<br>Retrying...</p>
    }
    @if(consumerLoadingSignal()){
        <p>Consumer loading</p>
    }@else {
        @if(consumerSignal().length==0){
            <p>No Consumer found</p>
        }@else {
            @for (consumer of consumerSignal(); track consumer.id) {
                <button class="button">
                    {{consumer.name}}
                </button>
            }
        }
    }
</div>