<div class="card">
    <h2>Consumer : {{consumerIdSignal()}}</h2>

    <div id="details-grid">
        <div>
            <h3>Producers</h3>
            <!-- <app-producers-list [ids]="producers_id()"></app-producers-list> -->
        </div>
        <div>
            <h3>Channels</h3>
            <!-- <app-channels-list [ids]="channels_id()"></app-channels-list> -->
        </div>
        <div>
            <h3>Consumers</h3>
            <!-- <app-consumers-list [ids]="consumers_id()"></app-consumers-list> -->
        </div>
    </div>
</div>